<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546892652072-cvtsv267hu8v3e2gd6as9rimile2thbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546892652072-cvtsv267hu8v3e2gd6as9rimile2thbo</string>
	<key>API_KEY</key>
	<string>AIzaSyASZUpgpALUGD3iJvuF_sagC7ZJnXlzo_c</string>
	<key>GCM_SENDER_ID</key>
	<string>546892652072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.peterchoi.LinkMVP</string>
	<key>PROJECT_ID</key>
	<string>linkmvp-d6287</string>
	<key>STORAGE_BUCKET</key>
	<string>linkmvp-d6287.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546892652072:ios:d1c42cf0e3f8e161</string>
	<key>DATABASE_URL</key>
	<string>https://linkmvp-d6287.firebaseio.com</string>
</dict>
</plist>